*, *::after, *::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

body, html {
  height: 750px;
  width: 1250px;
  overflow: auto;
  position: relative;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #1a1935;
  border-radius: 50px;
  height: 9px;
}

p {
  overflow: hidden;
}

.h-20 {
  height: 20%;
}

.hg10 {
  height: 10%;
}

.h-10 {
  height: 10%;
}

.h-60 {
  height: 55%;
}

.h-90 {
  height: 90%;
}
.w-40{
  width: 40%
}
.w-45{
  width: 45%
}
.red {
  color: #CB0731 !important;
}

.blanc {
  color: white !important;
}

.yellow {
  background: yellow;
}

.vert {
  color: #0b631a;
}

.centrer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* navigateur*/
.navigateur {
  height: 6%;
  display: flex;
  background-color: #1a1935;
  -webkit-app-region: drag;
  position: relative;
}

.logo {
  width: 7%;
  display: flex;
}

.choix_nav {
  width: 78%;
  display: flex;
}

.choix_nav div {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.choix_nav div:hover {
  background-color: #25197b;
}

.choix_nav p {
  margin: 0;
  margin-bottom: 5px;
  color: gray;
  font-family: sans-serif;
  font-size: 1.05em;
  cursor: pointer;
}

.ligne_bas {
  border-bottom: 2px solid #4126ff;
  color: white;
}

.ligne_bas p {
  color: white;
}

.choix_nav a {
  text-decoration: none;
}

.croixs {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centrer_croixs {
  display: flex;
  justify-content: flex-end;
}

.centrer_croixs a {
  width: 13%;
  margin-right: 20px
}

.centrer_croixs a:hover {
  opacity: 50%;
}

/*Main*/
.main {
  background-color: #14151d;
  height: 94%;
  display: none;
  position: relative;
}

.menu {
  width: 120px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  display: none;
}

.menu-options {
  list-style: none;
  padding: 10px 0;
}

.menu-option {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}

.menu-option:hover {
  background: rgba(0, 0, 0, 0.2);
}

.nom_onglet {
  height: 10%;
  color: #e4e4e4;
  font-size: 2em;
}

/*Accounts*/
.accounts_container {
  height: 82%;
  overflow: hidden;
}

.accounts_bandeau {
  height: 8%;
  background-color: #1a1935;
}

.presentation {
  padding-left: 30px;
  color: white;
  font-size: 1.1em;
  display: flex;
  margin-bottom: 10px;
}

.name_div {
  width: 200px;
  padding-right: 15px;
}

.proxy_div {
  width: 250px;
  padding-right: 15px;
}

.shipping_div {
  width: 400px;
  padding-right: 15px;
}

.account_element {
  background-color: #1a1935;
  height: 45px;
  /*
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  */
  border-radius: 8px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 14px;
  width: 99%;
  color: #e4e4e4;
}

.centrer_element p {
  margin: 0;
}

.display-flex {
  display: flex;
  width: auto;
}

.all_account_container {
  overflow: auto;
  height: 90%;
}

.btn_add_account {
  background-color: #4126ff;
  color: white;
  display: inline-block;
  font-weight: 400;
  border: 0;
}

.btn_add_account:active {
  background-color: #2c1c9e;
}

.btn_add_account:focus {
  background-color: #2c1c9e !important;
}

.btn_add_account:hover {
  background-color: #3721d4;
}

.centrer_bouton {
  display: flex;
  justify-content: center;
}

.modal {

  padding-top: 200px;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/ opacity */
}

.modal-chaussure {
  padding-top: 250px;
}

/* Modal Content */
.modal-content-account {
  height: 55%;
  position: relative;
  border-radius: 11px;
  background-color: #1a1935;
  margin: auto;
  padding: 0;
  width: 45%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.3s;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-content-chaussure {
  height: 60%;
  margin-top: 300px;
  position: relative;
  border-radius: 11px;
  background-color: #1a1935;
  margin: auto;
  padding: 0;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.3s;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -50px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*add account*/
.haut_ajout_compte {
  padding-top: 3px;
  height: 20%;
  border-bottom: 3px solid #4126ff;
}

.haut_ajout_compte p {
  text-align: center;
  font-size: 1.8em;
  color: white;
}

.info_ajout_compte {
  height: 63%;
}

.valider_ajout_account {
  height: 17%;
}

/*Page debut*/
.chaussure_container {
  height: 82%;
  overflow: auto;
  padding-top: 20px;
}

.ligne_chaussures {
  display: flex;
  height: 45%;
  margin-bottom: 30px;
}

.el_chaussure {
  height: 100%;
  width: 31.3%;
  margin-right: 2%;
  background-color: #1a1935;
  color: white;
  border-left: 5px solid #4126ff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 5px 5px 20px rgba(65, 38, 255, 0.5);
  transition-duration: 0.2s;
  cursor: pointer;
}

.div_addresse:hover .edit {
  width: 45px;
}

.el_chaussure:hover {
  box-shadow: 5px 5px 20px rgba(10, 253, 255, 0.5);
}

.el_chaussure button {}

.el_chaussure:hover button {
  height: auto;
}

.haut_el_chaussure {
  display: flex;
}

.nom_chaussure {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 30px;
}

.el_chaussure img {
  height: 100%;
  margin-right: 20px;
  border-radius: 8px;
  opacity: 0.7;
}

.haut_chaussure {
  height: 20%;
  border-bottom: 3px solid #4126ff;
}

.haut_chaussure p {
  text-align: center;
  font-size: 1.8em;
  color: white;
}

.info_chaussure {
  height: 60%;
}

/*Input design*/
.input_nike {
  border: 1px solid grey;
  border-radius: 4px;
  background-color: #9f9f9f;
  padding-left: 5px;
  transition-duration: 0.2s;
  height: 30px;
}

.input_nike:focus {
  outline: 0;
  border-color: #4126ff;
  border-width: 2px;
  background-color: #e4e4e4
}

.ligne_form {
  display: flex;
  margin-bottom: 8px;
  height: 31px;
}

.normal_sized_form {
  width: 190px;
}

.normal_sized_form input {
  width: 180px;
}

.big_sized_form {
  width: 400px;
}

.big_sized_form input {
  width: 370px
}

.select-nike {
  height: 25px;
}

.select-nike:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #ced4da;
}

.ecriture_add {
  font-size: 1em;
}

.add_div_droit {
  width: 90px;
}

.droite {
  width: 50%;
}

.gauche {
  width: 50%;
}

.haut_addresse {
  height: 50%;
}

.div_addresse {
  border-radius: 5px;
  background-color: #1a1935;
  color: white;
  height: 40px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.3s;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.div_addresse_millieu {
  display: flex;
  justify-content: space-around;
}

.div_addresse_millieu p {
  margin: 0;
}

.liste_addresse {
  overflow: auto;
  position: relative;
  padding: 10px;
}

.titre_shipping {
  color: white;
  margin-left: 70px;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.form_addresse {
  display: flex;
  justify-content: center;
}

#save_addresse {
  width: 370px;
}

.edit {
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  background-color:#4126ff ;
  transition-duration: 0.5s;
}
.edit:hover .edit-logo{
  opacity: 0.7;
  transition-duration: 0s;
  cursor: pointer;
}
.edit:hover{
  cursor: pointer;
}
.error {
  margin-top: 5px;
  color: red;
  font-size: 0.8em
}

.select_nike {
  height: 30px;
  width: 100px;
  border-radius: 5px;
}

:focus {
  outline: 0;
}

.start_task {
  display: none;
}

.el_chaussure:hover button {
  display: block;
  animation-name: animatetop;
  animation-duration: 0.3s;
}
.edit-logo{
  height: 20px;
  margin:10px;
  margin-left: 12px;

}
.info_ajout_compte_password{
  margin-bottom: 16px;
}

.info_ajout_compte_password p{
  margin:0;
  overflow: hidden;
  padding-top: 2px;
  margin-right: 20px;
}
.add_select{
  width: 373px;
}
/*4126ff*/
/*14151d*/
/*1a1935*/
